body{

    background: url('../assets/bg_elem1.png') left top,
                url('../assets/bg_elem2.png') right 20%,
                url('../assets/bg_elem3.png') left 45%,
                url('../assets/bg_elem4.png') right 62%,
                url('../assets/bg_elem5.png') left 82%,
                url('../assets/bg1_esq.jpg') left top,
                url('../assets/bg1_dir.jpg') right top;
    background-repeat:  no-repeat, 
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        repeat-y, 
                        repeat-y;
}

.painelIndicadores{
    display: flex;
    justify-content: space-around;
}

.btn-painelIndicadores{
    border: none;
    background-color: transparent;
    color: transparent;
    width: 278px;
    height: 315px;
}

.btn-painelIndicadores:hover{
    transition: 0.5s ease-in-out ;
}

.btn-carregamento{
    background: url(../assets/bt1.png);
}

.btn-carregamento:hover{
    background: url(../assets/bt1_hv.png);
}

.btn-resposta{
    background: url(../assets/bt2.png);
}

.btn-resposta:hover{
    background: url(../assets/bt2_hv.png);
}

.btn-estabilidade{
    background: url(../assets/bt3.png);
}

.btn-estabilidade:hover{
    background: url(../assets/bt3_hv.png);
}

.destaque.dest1::before {
    content: '';
    display: block;
    height: 305px;
    width: 306px;
    position: absolute;
    bottom: 75%;
    left: -22%;
    top: 0;
    margin: auto;
    border-radius: 20px;
    background: url('../assets/dest1.png') no-repeat;
}

.destaque.dest2::before {
    content: '';
    display: block;
    height: 305px;
    width: 305px;
    position: absolute;
    bottom: 75%;
    right: -22%;
    top: 0;
    margin: auto;
    border-radius: 20px;
    background: url('../assets/dest2.png') no-repeat;
    background-repeat: no-repeat;
}

#accordionIntegridade .accordion-header > button{
    height: 80px;
    border-radius: 40px !important;
    padding-left: 100px;
}

#accordionIntegridade .accordion-header > button:before {
    content: '';
    display: block;
    height: 74px;
    width: 74px;
    position: absolute;
    bottom: 0;
    left: 10px;
    top: 0;
    margin: auto;
    border-radius: 50px;
}

.btn1::before{
    background: url(../assets/ico1.png);
}

.btn2::before{
    background: url(../assets/ico2.png);
}

.btn3::before{
    background: url(../assets/ico3.png);
}

.btn4::before{
    background: url(../assets/ico4.png);
}

.btn5::before{
    background: url(../assets/ico5.png);
}

.destaque.icone.safari::before {
    height: 115px;
    width: 115px;
    background: url('../assets/ico_safari.png') no-repeat;
}

.destaque.icone.firefox::before {
    height: 115px;
    width: 115px;
    background: url('../assets/ico_firefox.png') no-repeat;
}

.destaque.icone.chrome::before {
    height: 190px;
    width: 115px;
    background: url('../assets/ico_chrome.png') no-repeat top,
                url('../assets/ico_edge.png') no-repeat bottom; 
}

@media screen and (max-width:1600px) {

    body{

        background: url('../assets/bg_elem1.png') left top,
                    url('../assets/bg_elem2.png') right 20%,
                    url('../assets/bg_elem3.png') left 45%,
                    url('../assets/bg_elem4.png') right 62%,
                    url('../assets/bg_elem5.png') left 82%,
                    url('../assets/bg1_esq.jpg') left top,
                    url('../assets/bg1_dir.jpg') right top;
        background-repeat:  no-repeat, 
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            repeat-y, 
                            repeat-y;
        background-size: 20%;
    }
    
}

@media screen and (max-width:1350px) {

    body{

        background: url('../assets/bg_elem1.png') left top,
                    url('../assets/bg_elem2.png') right 20%,
                    url('../assets/bg_elem3.png') left 45%,
                    url('../assets/bg_elem4.png') right 62%,
                    url('../assets/bg_elem5.png') left 82%,
                    url('../assets/bg1_esq.jpg') left top,
                    url('../assets/bg1_dir.jpg') right top;
        background-repeat:  no-repeat, 
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            no-repeat,
                            repeat-y, 
                            repeat-y;
        background-size: 15%;
    }
    
}

@media screen and (max-width:1100px) {

    body{

        background: none;
    }
    
}