.img-inicio {
    margin-top: 15%;
    position: absolute;
    margin-right: -5%;
}

.bloco1 {
    background: url('../img/bg1.jpg') no-repeat;
    padding-bottom: 10%;
    position: relative;
}

.bg-escuro .bloco1{
    position: unset;
}

.bloco1 h2 {
    color: #fff;
}

.bloco1 p {
    color: #fff;
}

.bloco2 .container {
    border-radius: 80px;
    margin-top: -7%;
    background-color: #fff;
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    padding-bottom: 5%;
    margin-bottom: -6%;
}

.bloco2{
    background: url('../img/bg2.jpg') repeat;
    background-size: 100%;
}

.bloco3{
    background: url('../img/bg3.jpg') no-repeat;
    padding-top: 10%;
}

.bloco3 h3{
    color: #fff;
}

.bloco3 p{
    color: #fff;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.img-destaque{
    margin-top: 5%;
}

.img-destaque2{
    margin-top: 32%;
}

.bg-escuro .bloco2 p{
    color: #000;
}

.bg-escuro .bloco2 h3{
    color: #000;
}

.bg-escuro .bloco2 h4{
    color: #000;
}

.bg-escuro .bloco2 figcaption{
    color: #4a4a4a;
}

.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


@media screen and (max-width:1440px) {
    .img-inicio {
        transform: scale(0.9);
    }

    .bloco2{
        background: url('../img/bg2.jpg') repeat;
        background-size: 100%;
    }
}



@media screen and (max-width:1366px) {
    .img-inicio {
        transform: scale(0.8);
    }
}

@media screen and (max-width:1024px) {
    .img-inicio {
        display: none !important;
    }

    .bloco2{
        background: unset;
    }
}



@media screen and (max-width:820px) {
    .img-destaque {
        margin-top: 17%;
    }

    .img-destaque2 {
        margin-top: 54%;
    }
}

@media screen and (max-width:768px) {
    .img-destaque {
        margin-top: 6%;
    }

    .img-destaque2 {
        margin-top: 34%;
    }
}



@media screen and (max-width:500px) {
    .img-destaque {
        margin-top: unset;
    }

    .img-destaque2{
        margin-top: unset;
    }
    .bloco3{
        background-size: cover;
    }

    .bloco3 .container{
        padding-top: 12%;
    }
    .bloco2 .container {
        border-radius: 80px;
        margin-top: -7%;
        background-color: #fff;
        padding-top: 1.5%;
        padding-left: 3%;
        padding-right: 3%;
        position: relative;
        padding-bottom: 5%;
        margin-bottom: -15%;
    }
}


@media screen and (max-width:375px) {}